# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Lab4.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Programms\Programms\Backup\GoogleDrive\Univer\Univer IV\NeT\Lab4\.idea\.idea.Lab4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
